.item {
  width: 64px;
  height: 64px;
  margin: 5px;
  border: 2px solid black;
  float: left;
}

#info {
  width: 250px;
  height: 250px;
  background-color: lightgray;
  color: white;
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 5px;
  float: left;
}
